.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a, 
.ui-icon {
	text-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#dragons img, #about_page img {
	padding-bottom: 10px;
	width: 100%;
	max-width: 500px;
}

#dragons, #btpimg {
	max-width: 500px;
	margin: auto;
}


/* Styling for iOS7 */
* {
	font-family: -apple-system-font; 
}
.ui-header {
/* 	background: #34AADC; */
	background: #0086b6;
/* 	padding-top: 20px; */
/* 
	 background: -webkit-gradient(linear, left top, left bottom, from(
        rgba(29, 120, 239, 1)), to(rgba(129, 243, 253, 0.88)))
 */
}
.ui-title {
	color: #FFF;
}
/* End Styling for iOS7 */

/* remove blue glow */
.ui-focus,
.ui-btn:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none ;
}

/* remove blue glow, add red outline */
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	-moz-box-shadow: none;
  	-webkit-box-shadow: none;
  	box-shadow: none ;
/*   	border: 1px solid #992013; */
}

.ui-input-text, .ui-input-search {
	border: 1px solid #dce4ec;
	border-radius: 5px;
	background: url("images/search.png") no-repeat;
	background-position: 3px center; 
}

.ui-input-text, .ui-input-search {
    content: "\f002"; 
    font-family: FontAwesome;
}

.ui-input-clear {
	background: url("images/close.png");
	width: 25px;
	height: 25px;
}

/* 
.ui-bar-a {
	background: #34495E;
	color: #ECF0F1;
}
 */

.ui-footer {
	padding: 1px 0px;
	color: #000;
	background: #0086b6;
}
/* 

body {
  font: 14px/1.231 "Helvetica", sans-serif;
}
 */

/*
#main_page h1 {
	margin-top: 10px;
	margin-bottom: 0px;
}
*/

#main_page #song_list li {
/* 	border-top: solid 1px #EEEEEE; */
	/* 1px hairline, using a GIF  */
	background: repeat-x bottom left 
	  url(data:image/gif;base64,R0lGODlhAQACAPABAMjHzP///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAAQACAAACAgwKADs=);
	background-size: 100% 1px;
}

#main_page #song_list li a {
	text-align: center;
/* 	width: 100%; */
	text-decoration: none;
	color: #34495e;
}

#main_page #song_list li a:active {
/* 	color: #2980B9; */
	color: #0086b6;
}

#song_page .ui-content {
	padding: 0px;
}

#lyrics {
/* 	margin: auto; */
/* 	padding: 10px; */
/* 	padding-top: 20px; */
}

#lyrics div {
	text-align: center;
}

/*
#lyrics span {
	padding-left: 2.0em;
} */

#lyrics h1 {
	text-align: center;
	font: -apple-system-headline;
}

#lyrics h2 {
/* 	font-style: italic; */
/* 	font-size: 10pt; */
	font: -apple-system-subheadline;
	text-align: center;
}

#lyrics h3 {
/* 
	font-size: 10pt;
	font-weight: normal;
 */
	font: -apple-system-body;
	color: grey;
	text-align: center;
}

#lyrics h4:first-of-type {
	margin-bottom: 0px;
}

#lyrics h4 {
	width: 100px;
	margin: auto;
}
/* 

#stream_btn {
	width: 30%;
	min-width: 100px;
	background-color: #1ABC9C;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	position: absolute;
	right: 0px;
	padding: 10px;
}
#stream_btn a {
	text-decoration: none;
	font-weight: bold;
	color: #EEEEEE;
}
 */

#streamer {
/* 	margin: 10px 0px 10px 0; */
/* 	background-color: #1ABC9C; */
/* margin-top:12px; use this for ios only! */
}

audio {
	display: block;
	width: 100%;
}

.ios-back-btn {
	height: 30px;
/* 	top: 6px !important; */
/* 	top: 22px !important; */
	text-decoration: none;
	color: #FFFFFF;
}
.ios-back-btn .ui-btn-inner {
	overflow: visible;
}

.ios-back-btn .ui-btn-text {
	font: -apple-system-font;
	position: absolute;
	left: 3px;
	top: 6px;
	font-size: 17px;
}

.ios-button {
	text-decoration: none;
	color: #FFFFFF;
	height: 30px;
/* 	top: 22px !important; */
/* 	top: 6px !important; */
}

.ios-button .ui-btn-text {
	font: -apple-system-font;
	font-size: 17px;
}
/* 

.about-btn {
	background: url("images/info.png");
	width: 32px;
	height: 32px;
}

#about_page p {
	text-align: justify;
}
 */
